# macOS
.DS_Store

# CMake-сборка
/build/
/CMakeFiles/
/cmake-build-*/

# Сгенерированные логи и тестовые артефакты
*.log
test.log
bench.log

# CLion / VS Code и прочие IDE
.idea/
.vscode/



# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
